@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 213 96% 20%;
    --secondary: 45 87% 47%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#root {
  max-width: none;
  padding: 0px 0px;
  margin: 0px;
  text-align: default;
}
