@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 213 96% 20%;
    --secondary: 45 87% 47%;
    --navbar-height: 80px;
    --navbar-rule-height: 50px;
    --muted: 210 40% 96.1%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Remove search icon in Chrome, Edge, and Safari */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-clear-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  /* Remove search icon in Firefox */
  input[type="search"] {
    -moz-appearance: none;
  }

  /* Remove search icon in Internet Explorer 10+ */
  input[type="search"] {
    -ms-appearance: none;
  }
}

@layer components {
  /* For WebKit browsers (e.g., Chrome, Safari) */
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  .scrollbar {
    scrollbar-color: #f1f1f1 #888;
  }

  .card-title {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    max-height: 4rem;
    line-height: 2rem;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1024px) {
  .slick-arrow.slick-next {
    right: -80px !important;
  }

  .slick-arrow.slick-prev {
    left: -80px !important;
  }
}

#root {
  max-width: none;
  padding: 0px 0px;
  margin: 0px;
  text-align: left;
}




.text_color {
  color: #022E64;
}

.small_image {
 width:  309px;
 height: 206.03px;
 border-radius:  20px;
 margin: 0 12px;
}

.bottom_long_image {
width: 638px;
height: 219px;
margin: 20px 12px 0 14px;
border-radius: 20px;
}

.image {
  width: 100%;
  height: 100%; 
  border-radius: 20px;
}

.bottom_corner_image {
  width:  310px;
  height: 219px;
  border-radius:  20px;
  margin: 20px 14px 0 18px;
}

.side_long_image {
width: 16.375rem;
height: 28.7rem;
border-radius: 20px;
margin:0 0 14px 10px;
}

.button_color{
  margin-top: -5rem;
  background-color: #E0AD0F;
}

.bottom_long_image:hover,
.bottom_corner_image:hover,
.side_long_image:hover,
.small_image:hover {
  transform: scale(1.5); /* Scale up by 10% on hover */
  transition: transform 0.3s ease-in-out; 
  border-radius: 20px;
  overflow: hidden;
}
